* {
    margin: 0;
    padding: 0;
}

.navbar {
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 350px
    
}
.navbar .header-list {
    list-style: none;
    display: flex;
}

.header-list li {
    margin-left: 15px;
    font-size: 18px;
    text-decoration: none;
}

.header-list a {
    color: #e5e7eb;
    text-decoration: none;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.container1 {
    background: #1f2937;
    display: flex;
    height: 450px;
    align-items: center;
    justify-content: space-between;
    padding: 0 350px;
}

.title {
    display: flex;
    color:#f9faf8;
    font-size: 54px;
    font-weight: bolder;
    flex-wrap: wrap;
    margin-right: 150px;
}

.text {
    display: flex;
    color: #e5e7eb;
    width: 450px;
    flex-wrap: wrap;
    font-size: 22px;
}

.button1 {
    color: white;
    padding: 7px 30px;
    border-radius: 5px;
    background-color: #3882f6;
    border-color: #3882f6;
    margin-top: 10px;
    font-size: 16px;
}

.second .image {
    
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

.important {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 20px;
}

.blue  {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0 200px;
    font-size: 20px;
    color: grey;
    text-align: center;
}

.blue li {
    max-width: 200px;
    margin-right: 50px;
}

.img img {
    max-width: 200px;
    border-color: #3882f6;
    border-radius: 20px;
}

.container3 {
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding:100px 550px;
}

.phrase a {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    align-items: center;
    display: flex;
}

.author {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 26px;
    font-weight: bold;
    margin-right: 50px;
}

.container4 {
    margin: 100px 350px;
    background-color: #3882f6;
    padding: 50px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;  
}

.primero {
    display: flex;
    flex-direction: column;
    color: #e5e7eb; 
}

.calltoaction {
    font-size: 20px;
    font-weight: bold;
}

.button2 {
    background-color: #3882f6;
    border-color: white;
    color: white;
    padding: 7px 30px;
    border-radius: 5px;
    font-size: 16px;    
}

.footer {
    background: #1f2937;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.copy {
    color: #e5e7eb;
    font-size: 13px;
}